meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

// Title
title PopFácil

// Google Fonts
link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap&subset=latin-ext', rel='stylesheet')

// Favicon
link(rel='apple-touch-icon', sizes='180x180', href='/images/fav/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/images/fav/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/images/fav/favicon-16x16.png')

// Theme CSS
link(href='/css/theme.css', rel='stylesheet')

// Libs CSS
link(href='/css/fontawesome.min.css', rel='stylesheet')
link(href='/css/hover.css', rel='stylesheet')
link(href='/css/zoom.css', rel='stylesheet')
link(href='/css/slick.css', rel='stylesheet')
link(href='/css/jquery.fancybox.min.css', rel='stylesheet')
link(href='/css/mapbox-gl.css', rel='stylesheet')
link(href='/css/aos.css', rel='stylesheet')
link(href='/css/prism.css', rel='stylesheet')

script(src='/js/aos.js')