doctype html
html(lang="pt-br")
	head
		include /utilities/_head.pug
	body


		// HEADER
		#header.bg-white
			include /utilities/_navbar.pug
			+navbar-mixin('navbar-light', 'btn-secondary')
			#breadcrumbs.container
				.row
					.col
						hr.mt-10
						nav.mb-0.pt-3.pb-1(aria-label='breadcrumb')
							ol.breadcrumb.mb-0
								li.breadcrumb-item.text-muted
									| Home
								li.breadcrumb-item.active(aria-current="page")
									| Soluções
			#title.container
				.row
					.col.text-center.pt-8
						h1.display-2.mb-3 
							| Soluções
						p.lead.text-muted.mb-7 To spread the power of good design


		// SOLUCOES
		.bg-white.pb-14
			.container.rounded-lg(data-aos="fade")

				.row
					.col-lg-6.col-md-6.col-sm-12.mb-4
						a(href="/solucoes/prova-social.html")
							.solucao.text-center.hvr-float.card.p-5
								h2.h4 🥇 Crie Prova Social
								p.lead 129351Lorem ipsum dskdjsld sljdl jdlj sld ljlljk sd sd lksds ldkjsldj slkd.
					.col-lg-6.col-md-6.col-sm-12.mb-4
						a(href="/solucoes/promova-seu-produto.html")
							.solucao.text-center.hvr-float.card.p-5
								h2.h4 📣 Promova seu Produto ou Serviço
								p.lead Lorem ipsum dskdjsld sljdl jdlj sld ljlljk sd sd lksds ldkjsldj slkd.
				.row
					.col-lg-6.col-md-6.col-sm-12.mb-4
						a(href="/solucoes/aumente-sua-lista-de-emails.html")
							.solucao.text-center.hvr-float.card.p-5
								h2.h4 📧 Aumente sua lista de emails
								p.lead Lorem ipsum dskdjsld sljdl jdlj sld ljlljk sd sd lksds ldkjsldj slkd.
					.col-lg-6.col-md-6.col-sm-12.mb-4
						a(href="/solucoes/aumente-suas-chamadas-telefonicas.html")
							.solucao.text-center.hvr-float.card.p-5
								h2.h4 🤳 Aumente suas chamadas telefônicas
								p.lead Lorem ipsum dskdjsld sljdl jdlj sld ljlljk sd sd lksds ldkjsldj slkd.


						



		// FOOTER 
		include /utilities/_footer.pug
		// light-footer(lead_bg_color, lead_border_color, lead_text_color, lead_btn_color, footer_bg, title_bg, text_color, link_color, subscribe_bg, subscribe_button, logo_file)

		+light-footer('bg-white', '', '', 'btn-secondary', 'bg-light', 'text-dark', 'text-muted', 'text-muted', 'bg-gray', 'btn-gray', '/images/logo-popfacil-color-footer.png')

		include /utilities/_scripts.pug