doctype html
html(lang="pt-br")
	head
		include /utilities/_head.pug
	body


		// HEADER
		#header.bg-white
			include /utilities/_navbar.pug
			+navbar-mixin('navbar-light', 'btn-secondary')
			#breadcrumbs.container
				.row
					.col
						hr.mt-10
						nav.mb-0.pt-3.pb-1(aria-label='breadcrumb')
							ol.breadcrumb.mb-0
								li.breadcrumb-item.text-muted
									| Home
								li.breadcrumb-item.active(aria-current="page")
									| Widgets
			#title.container
				.row
					.col.text-center.pt-8
						h1.display-2.mb-3 
							| Todos os Widgets
						p.lead.text-muted.mb-7 24 Widgets Exclusivos para você escolher




						
		// WIDGETS
		.bg-light.p-6
			.container
				.row
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float.box
								.card-body.px-5.pt-4
									.ribbon.ribbon-top-right
										span Pro
									i.fas.fa-info.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="barra-informativa.html") Barra Informativa
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float.box
								.card-body.px-5.pt-4
									.ribbon.ribbon-top-right
										span Pro
									i.fas.fa-inbox.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="barra-coletora-lead.html") Barra coletora de leads
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float.box
								.card-body.px-5.pt-4
									.ribbon.ribbon-top-right
										span Pro
									i.fas.fa-money-check-alt.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="barra-cupom.html") Barra de cupom de desconto
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
				.row
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float.box
								.card-body.px-5.pt-4
									.ribbon.ribbon-top-right
										span Grátis
									i.fas.fa-newspaper.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="barra-botao.html") Barra de botão
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float.box
								.card-body.px-5.pt-4
									.ribbon.ribbon-top-right
										span Grátis
									i.fas.fa-fire.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="coletor-lead.html") Coletor de leads
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float.box
								.card-body.px-5.pt-4
									.ribbon.ribbon-top-right
										span Grátis
									i.fas.fa-dice.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="coletor-lead-grande.html") Coletor de leads grande
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
				.row
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-cloud.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="chamada-acao.html") Chamada para ação
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-heading.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="feedback-texto.html") Feedback por texto
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-link.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="links-engajamento.html") Links de engajamento
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
				.row
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-info-circle.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="informativo.html") Informativo
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-piggy-bank.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="cupom.html") Cupom de desconto
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-globe.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="contador-visitas.html") Contador de visitas
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
				.row
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-envelope-open.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="coletor-email.html") Coletor de emails
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-funnel-dollar.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="compra-recente.html") Compra mais recente
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-comment-dollar.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="contador-conversao.html") Contador de conversões
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
				.row
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-video.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="video.html") Video
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-share-alt.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="compartilhamento-social.html") Compartilhamento social
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-random.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="depoimento-aleatorio.html") Depoimento aleatório
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
				.row
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-smile-beam.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="feedback-emoji.html") Feedback com emoji
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-cookie.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="notificacao-cookie.html") Notificação de cookies
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-sort-numeric-up.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="feedback-pontuacao.html") Feedback por pontuação
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
				.row
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-user-plus.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="coletor-telefone.html") Coletor de telefone
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4.mb-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-clock.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="contagem-regressiva.html") Contagem regressiva
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize
					.col-md-4
						.card.rounded-lg.overflow-hidden.hvr-float
								.card-body.px-5.pt-4
									i.fas.fa-image.fa-2x.d-block.text-center
									a.h5.text-dark.stretched-link.text-center.d-block.mt-3(href="imagem.html") Imagem
									p.text-muted.my-2 Replacer is the modern and powerful theme for making landing pages on Bootstrap 4. You may customize





							
					




		// FOOTER 
		include /utilities/_footer.pug
		// light-footer(lead_bg_color, lead_border_color, lead_text_color, lead_btn_color, footer_bg, title_bg, text_color, link_color, subscribe_bg, subscribe_button, logo_file)

		+light-footer('bg-white', '', '', 'btn-secondary', 'bg-light', 'text-dark', 'text-muted', 'text-muted', 'bg-gray', 'btn-gray', '/images/logo-popfacil-color-footer.png')

		include /utilities/_scripts.pug