extends /docs/docs-layout.pug

block content
	h1.display-4 Changelog 
	p.mb-4.lead The history of changes
	blockquote.blockquote.lead.text-muted.py-2.px-5.mb-6.mr-10
		| Replacer is constantly growing and updatable theme, and we have long-term plans to making it better according to your feedback

	.mb-3
		code.bg-secondary-light.text-secondary.py-1.px-2.rounded
			| 2.0.2
		|
		span.text-muted.small
			|
			| - June 26, 2020
	ul.mb-5
		li Performance optimization, the theme now loads quicker
		li File structure refactoring

	.mb-3
		code.bg-secondary-light.text-secondary.py-1.px-2.rounded
			| 2.0.1
		|
		span.text-muted.small
			|
			| - June 19, 2020
	ul.mb-5
		li There was a problem with a primary color on some sorts of displays, so it’s fixed now
		li Text weight of .displays-* classes became thinner

	.mb-3
		code.bg-secondary-light.text-secondary.py-1.px-2.rounded
			| 2.0.0
		|
		span.text-muted.small
			|
			| - June 16, 2020
	ul.mb-5
		li 
			b Brand new design
		li 
			b Brand new code
		li 9 exclusive illustrations
		li Background system
		li Pricing page
		li Contact us page
		li Password recovery page
		li Privacy & terms page
		li Apply form page
		li 2 career pages
		li 2 new blog layouts
		li Devices mockups
		li Editable docs pages based on Bootstrap for your products
		li Rich documentation added
		li Updated to Bootstrap v4.5.0
		li Autohide navbar
		li Automatic page load progress bar
		li Opacity CSS styles added
		li Counters added
		li Animations on scroll
		li Animations on hover
		li Mapbox plugin added
		li Smooth scroll plugin added
		li Parallax plugin added
		li Typed plugin added
		li Syntax highlighter added
		li Switched from Grunt to Gulp
		li FancyBox plugin added for lightboxes
		li BrowserSync support


	.mb-3
		code.bg-gray.text-muted.py-1.px-2.rounded
			| 1.1.1
		|
		span.text-muted.small
			|
			| - October 15, 2018
	ul.mb-5
		li Cosmetic edits for templates and demo site
		li 4.1.3 compatibility


	.mb-3
		code.bg-gray.text-muted.py-1.px-2.rounded
			| 1.1.0
		|
		span.text-muted.small
			|
			| - June 1, 2018
	ul.mb-5
		li Added 2 pages (page-blog.html and page-blog-entry.html)
		li Added 4.1.1 compatibility
		li Added icons list (icons.html)
		li Templates redesigned


	.mb-3
		code.bg-gray.text-muted.py-1.px-2.rounded
			| 1.0.0
		|
		span.text-muted.small
			|
			| - February 21, 2018
	ul.mb-5
		li Hello, world!
