extends /docs/docs-layout.pug

block content
	h1.display-4.mb-4 Suporte
	blockquote.blockquote.lead.text-muted.py-2.px-5.mb-6.mr-10
		| We are here for you to provide excellent support for 6 months after purchase, feel free to ask anything: 
		|
		mark.bg-secondary-light
			a.text-secondary(href="mailto:hello@getreplacer.com") hello@getreplacer.com
	h5.mb-3 FAQ from Bootstrap's team
	ul.mx-0.px-0.list-unstyled
		li.mb-2
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360000998972-What-methods-of-payments-are-supported-" target="_blank")
				| What methods of payments are supported?
		li.mb-2
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360000011052-How-do-I-get-a-receipt-for-my-purchase-" target="_blank") 
				| How do I get a receipt for my purchase?
		li.mb-2
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360000011072-How-can-I-get-a-refund-" target="_blank")
				| Hdow can I get a refund?
		li.mb-2
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360000008592-Which-license-do-I-need-" target="_blank")
				| Which license do I need?
		li.mb-2
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360000009272-How-do-I-get-access-to-a-theme-I-purchased-" target="_blank")
				| How do I get access to a theme I purchased?
		li.mb-2
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360039416971-Upgrade-License-Type" target="_blank")
				| Upgrade License Type
		li.mb-2
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360000007791-How-do-I-attach-previous-orders-to-my-account" target="_blank")
				| How do I attach previous orders to my account
		li.mb-2
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360000006291-How-do-I-get-help-with-the-theme-I-purchased-" target="_blank")
				| How do I get help with the theme I purchased?
		li.mb-2
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360000034891-What-version-of-Bootstrap-are-the-themes-built-on-" target="_blank")
				| What version of Bootstrap are the themes built on?
		li.mb-2
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360000007811-What-if-I-have-a-question-that-isn-t-answered-here-" target="_blank")
				| What if I have a question that isn't answered here?
		li.mb-0
			a.d-block(href="https://themes.zendesk.com/hc/en-us/articles/360001068052-Uh-oh-Where-s-my-theme-download-" target="_blank")
				| Uh oh! Where's my theme download?